.navBar {
    background-color: var(--primary-green);
}

.navBar .navbar-nav .nav-item .nav-link{
    color: var(--text-black) !important;
    font-size: 20px;
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}

.navLink{
    background-color: var(--primary-green) !important;
    border-bottom: 3px solid var(--primary-green) !important;
    border-radius: 5px;
}

.navDropdown{
    background-color: var(--primary-green) !important;
    border-bottom: 3px solid var(--primary-green) !important;
    border-radius: 5px;
}

.navLink:hover{
    /* background-color: var(--primary-green-yellow) !important; */
    color: var(--primary-green-yellow) !important;
    border-bottom: 3px solid var(--primary-orange) !important;        /*   ma mai gandesc la asta */
}
/**/

.navLink:hover .nav-link{
    color: var(--primary-green-yellow) !important;
}

.navDropdown:hover {
    /* background-color: var(--primary-green-yellow) !important; */
    color: var(--primary-green-yellow) !important;
    border-bottom: 3px solid var(--primary-orange) !important;
}


.navDropdown .dropdown-menu .dropdown-item:hover {
    color: var(--primary-green-yellow) !important; 
}

.navDropdown .dropdown-toggle:hover {
    color: var(--primary-green-yellow) !important; 
}


.navDropdown .dropdown-menu {
    background-color: var(--primary-green) !important; 
    padding: 0 !important;
    margin: 0 !important;
}

.navDropdown .dropdown-menu .dropdown-item {
    background-color: var(--primary-green) !important; 
    /* padding: 0 !important; 
    margin: 0 !important; */
}

/* .navDropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-green-yellow) !important; 
} */

.navDropdown .dropdown-menu .dropdown-divider{
    padding: 0 !important;
    margin: 0 !important;
}

.navBar .navbar-brand{
    margin-left: 50px;
}

/* .navBar .navbar-nav{
    margin-right: 50px;
} */

.navBar{
    margin: 0;
    padding: 0;
}

i{
    color: var(--secondary-orange) !important;
}

.navbar .container-fluid{
    align-items: flex-end !important;
    padding-bottom: 0px !important;
}

.navBar {
    height: auto !important; /* adjust as necessary */
    min-height: 50px; /* adjust as necessary */
    padding: 0 !important;
    box-shadow: 2px 2px 2px 2px var(--primary-text-color) !important;
}

.navBar .navbar-brand{
    margin-top: 0 !important;
}