
.custom-carousel {
    max-width: 80%;
    margin: auto;
    /* box-shadow: 0 0 20px 5px var(--primary-green) !important; */
    padding-top: 60px;
}
.custom-carousel-img {
    width: 100%; 
    height: 500px;
    object-fit: cover;
}

.pet-page{
    /* background-color: var(--primary-green); */
    /* border: 2px solid var(--primary-green); */
    box-shadow: 0 0 20px 5px var(--primary-green) !important;
    background-image: url(../Resources/pawprints.jpg);
    background-size: cover;
    background-position: center;
}

.pet-info{
    max-width: 80%; 
    margin: auto; 
    margin-top: 60px;
    padding: 0;
    /* margin-bottom: 60px; */
}

.pet-info h3{
    margin-top: 20px;
    border-bottom: 2px solid var(--primary-green);
}

.pet-description p{
    margin-left: 20px;
    margin-right: 20px;
}

.pet-description{
    padding-bottom: 60px;
}

.message-user-button{
    /* background-color: var(--primary-green) !important; */
    background-image: linear-gradient(to right, var(--primary-green), var(--primary-green-yellow)) !important;
    color: var(--text-black) !important;
    padding: 20px 40px !important; /* Add more padding to increase size */
    font-size: 1.5rem !important; /* Adjust font size as desired */
}

.message-user-button:hover{
    box-shadow: 0 0 20px 5px var(--primary-orange) !important;
}

.contact-user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    max-width: 80%;
    margin: auto;
    padding-bottom: 60px !important;
}
