.post-pet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-image: linear-gradient(to right, var(--primary-green), var(--primary-green-yellow));
    box-shadow: 0 0 10px 5px var(--secondary-green);
    max-width: 600px;
    padding: 20px;
}

.post-pet-title {
    text-align: center;
    color: var(--text-black);
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.generate-pet-container{
    margin-bottom: 10px;
}

.name-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
.name-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.name-action-container .generate-name-btn, .submit-button {
    border: none !important;
    box-shadow: 1px 1px 0 1px var(--primary-shadow-color) !important;
    background-color: var(--primary-orange) !important;
    border-color: var(--primary-orange) !important;
    color: var(--text-black) !important;
    border-radius: 10px !important;
    font-size: 14px !important;
    cursor: pointer !important;
    /* margin: auto 10px; */
    transition: box-shadow 0.3s ease !important;
    white-space: nowrap !important; 
    width: auto !important; 
    padding: 8px 16px !important;
    margin-left: 5px !important;
}
  
.name-action-container .generate-name-btn:hover, .submit-button:hover {
    box-shadow: 0 0 10px 5px var(--secondary-orange) !important;
}
  
.name-action-container input[type="text"] {
    flex-grow: 1;
}

.submit-button{
    box-shadow: 1px 1px 0 1px var(--primary-shadow-color) !important;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input-color:checked{
    background-color: var(--primary-orange) !important;
    accent-color: var(--primary-orange) !important;
}

input[type="radio"]:focus {
    outline: 2px solid var(--primary-orange) !important;
    box-shadow: 0 0 0 3px var(--primary-orange) !important;
}

input[type="checkbox"]:focus {
    outline: 2px solid var(--primary-orange) !important;
    box-shadow: 0 0 0 3px var(--primary-orange) !important;
}

input[type="checkbox"]:checked + label::after {
    background-color: var(--primary-orange) !important;
}
  
/* .datepicker .day.selected, .datepicker .day.today {
    background-color: var(--primary-orange) !important;
    color: var(--primary-orange) !important;
  }
  

.datepicker .today-button {
    background-color: var(--primary-orange) !important;
    color: var(--primary-orange) !important;
} */
  

.loading-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh; 
    width: 100vw; 
}

.large-spinner {
    width: 200px !important; 
    height: 200px !important; 
    color: var(--primary-green);
}

.tooltip-inner {
    background-image: linear-gradient(to right, var(--secondary-orange), var(--primary-orange)) !important; 
    font-family: 'Acme', 'sans-serif' !important; 
    color: var(--text-black) !important; 
  }
  

.tooltip.bs-tooltip-top .tooltip-arrow::before, .tooltip.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
    border-top-color: var(--secondary-orange) !important;
  }
  

.tooltip.bs-tooltip-bottom .tooltip-arrow::before, .tooltip.bs-tooltip-auto[data-popper-placement^="bottom"] .tooltip-arrow::before {
border-bottom-color: var(--secondary-orange) !important;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before, .tooltip.bs-tooltip-auto[data-popper-placement^="left"] .tooltip-arrow::before {
border-left-color: var(--secondary-orange) !important;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before, .tooltip.bs-tooltip-auto[data-popper-placement^="right"] .tooltip-arrow::before {
border-right-color: var(--secondary-orange) !important;
}
