.vertical-nav {
    display: flex;
    align-items: flex-start;
    margin-top: 0 !important;
    padding-top: 0 !important;
    background-color: var(--primary-green-yellow);
    box-shadow: 0 0 10px 0 var(--primary-shadow-color);
}


.vertical-nav .nav {
    flex-direction: column;
    width: 300px;
    height: 100vh;
    font-size: 20px;
    background-image: linear-gradient(to right, var(--primary-green), var(--primary-green-yellow)) !important;
    box-shadow: 0 0 10px 0 var(--primary-shadow-color);
}

.vertical-nav .nav .nav-link {
    border: none;
    color: var(--text-black) !important;
    padding: 20px 25px;
    text-align: center;
   
}

.vertical-nav .nav .nav-link:hover {
    cursor: pointer;
   
}

/* active tab */
.vertical-nav .nav .nav-link.active {
    /* background-image: linear-gradient(to right, var(--primary-green-yellow), var(--primary-green)) !important; */
    background-color: var(--primary-green) !important;
    color: var(--secondary-orange) !important;
    
}

/* hover effect on inactive tabs */
.vertical-nav .nav .nav-link:not(.active):hover {
    color: var(--secondary-orange) !important; 

}

.vertical-nav .tab-content {
    flex-grow: 1;
    /* padding-left: 20px;  */
}

.vertical-nav .nav .nav-link, .vertical-nav .tab-content {
    overflow: hidden !important; 
}


.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    width: 100%; 
    min-height: 300px; 
    margin-top: 20px;
    padding: 20px 0;
}


.user-info-text {
    font-size: 20px;
    padding: 10px;
    width: 100%; 
    box-sizing: border-box;
    text-align: center; 
}

.user-info-text:not(:last-child) {
    border-bottom: 3px solid var(--primary-orange);
    padding-bottom: 10px; 
    margin-bottom: 10px;
}

/* .user-info i{
    color: var(--secondary-text-color) !important; 
} */

.container-flex {
    display: flex !important;
    /* max-height: 100vh !important;  */
    height: 100%;
    overflow: hidden !important; 
}

.tab-content {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    width: 1000px;
    min-width: 600px;
}

@media (max-width: 640px) {
    .tab-content {
        width: 400px;  
        min-width: 0; 
    }
}


.user-posted-pets, .user-adopted-pets {
    max-height: 100vh;  
    overflow-y: auto;   
    overflow-x: hidden; 
    padding-bottom: 200px;
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.user-favorite-pets, .user-posted-pets, .user-adopted-pets {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch !important;
}


