.vertical-nav {
    display: flex;
    align-items: flex-start;
    margin-top: 0 !important;
    padding-top: 0 !important;
    background-color: var(--primary-green-yellow);
    box-shadow: 0 0 10px 0 var(--primary-shadow-color);
}


.vertical-nav .nav {
    flex-direction: column;
    width: 300px;
    height: 100vh;
    font-size: 20px;
    background-image: linear-gradient(to right, var(--primary-green), var(--primary-green-yellow)) !important;
}

.vertical-nav .nav .nav-link {
    border: none;
    color: var(--text-black) !important;
    padding: 20px 25px;
    text-align: center;
   
}

.vertical-nav .nav .nav-link:hover {
    cursor: pointer;
   
}

/* active tab */
.vertical-nav .nav .nav-link.active {
    /* background-image: linear-gradient(to right, var(--primary-green-yellow), var(--primary-green)) !important; */
    background-color: var(--primary-green) !important;
    color: var(--secondary-orange) !important;
    
}

/* hover effect on inactive tabs */
.vertical-nav .nav .nav-link:not(.active):hover {
    color: var(--secondary-orange) !important; 

}

.vertical-nav .tab-content {
    flex-grow: 1;
    padding-left: 20px; 
}

.vertical-nav .nav .nav-link, .vertical-nav .tab-content {
    overflow: hidden !important; 
}


.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers children horizontally in the middle */
    justify-content: center; /* Centers children vertically in the middle */
    width: 100%;  /* Ensure it takes the full width of its parent */
    min-height: 300px; /* Provide a minimum height to ensure there's space to center content vertically */
    margin-top: 20px;
    padding: 20px 0; /* Add vertical padding */
}


.user-info-text {
    font-size: 20px;
    padding: 10px;
    width: 100%; /* Ensure the paragraph takes the full width */
    box-sizing: border-box;
    text-align: center; /* Center the text horizontally */
}

.user-info-text:not(:last-child) {
    border-bottom: 3px solid var(--primary-orange);
    padding-bottom: 10px; 
    margin-bottom: 10px;
}

/* .user-info i{
    color: var(--secondary-text-color) !important; 
} */

