:root{
    --primary-yellow: #E6DB63;
    --primaty-green: #9BE663;
    --primary-green-yellow: #D2E663;
    --primary-orange: #E6CD6A;
    --secondary-green: #65E663;
    --primary-text-color: #E5E6E1;
    --text-white: #FFFFFF;
    --text-black: #000000;
}